<div ng-include="'app/partials/search.html'"></div>

<div
        ng-show="currentHotel"
        class="well well-lg">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="img/hotel.png" alt="IMG">
        </div>
        <div class="col-sm-9">
            <div>{{currentHotel.address}}</div>
            <table class="table table-responsive">
                <tr>
                    <th>Price/day</th>
                    <th>User rating</th>
                    <th>Beach</th>
                    <th>Downtown</th>
                    <th>ARoS</th>
                    <th>Room size</th>
                    <th>Wifi</th>
                </tr>
                <tr>
                    <td>{{currentHotel.price | currency}}</td>
                    <td>{{currentHotel.rating | number : 1}}</td>
                    <td>{{currentHotel.beach| number : 1}} km</td>
                    <td>{{currentHotel.downtown| number : 1}} km</td>
                    <td>{{currentHotel.aros | number : 1}} km</td>
                    <td>{{currentHotel.roomsize | number : 0}} m<sup>2</sup></td>
                    <td>{{currentHotel.wifi | number : 0}} Mbps</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<accordion close-others="oneAtATime">
    <accordion-group ng-repeat="acc in hotels" is-open="acc.isOpen">
        <div ng-include="'app/partials/hotels-accordin.html'"></div>
    </accordion-group>
</accordion>