<div id="{{hotel.address}}"
     class="well well-lg"
     ng-class="{'green-border' : hotel.highlight, 'pointer' : acc.isClickable}"
     ng-repeat="hotel in acc.filtered" ng-click="skyNot(hotel, acc.isClickable)">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="img/hotel.png" alt="IMG">
        </div>
        <div class="col-sm-9">
            <div>{{hotel.address}}</div>
            <table class="table">
                <tr>
                    <th>Price/day</th>
                    <th>User rating</th>
                    <th>Beach</th>
                    <th>Downtown</th>
                    <th>ARoS</th>
                    <th>Room size</th>
                    <th>Wifi</th>
                </tr>
                <tr>
                    <td>{{hotel.price | currency}}</td>
                    <td>{{hotel.rating | number : 1}}</td>
                    <td>{{hotel.beach| number : 1}} km</td>
                    <td>{{hotel.downtown| number : 1}} km</td>
                    <td>{{hotel.aros | number : 1}} km</td>
                    <td>{{hotel.roomsize | number : 0}} m<sup>2</sup></td>
                    <td>{{hotel.wifi | number : 0}} Mbps</td>
                </tr>
            </table>
        </div>
    </div>
</div>