<div class="container">
    <h1>Licenses</h1>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AngularJS by Google</td>
                <td>The MIT License</td>
                <td><a href="https://raw.githubusercontent.com/angular/angular.js/master/LICENSE" target="_blank">https://raw.[...]/angular.js/master/LICENSE</a></td>
            </tr>
            <tr>
                <td>Angluar Bootstrap by AngluarUI Team</td>
                <td>The MIT License</td>
                <td><a href="https://raw.githubusercontent.com/angular-ui/bootstrap/master/LICENSE" target="_blank">https://raw.[...]/bootstrap/master/LICENSE</a></td>
            </tr>
            <tr>
                <td>Highsoft</td>
                <td>CC BY-NC 3.0</td>
                <td><a href="http://shop.highsoft.com/faq/non-commercial" target="_blank">http://shop.highsoft.com/faq/non-commercial</a> </td>
            </tr>
        </tbody>
    </table>
</div>