<div>
    <div class="row">
        <!--<div class="well well-lg col-sm-4">-->
        <!--Here the change in q_L is shown-->
        <!--</div>-->
        <div class="well well-lg col-sm-12">
            <table class="table table-responsive">
                <tr>
                    <th>Attribute</th>
                    <th></th>
                    <th class="text-center">From</th>
                    <th></th>
                    <th></th>
                    <th class="text-center">To</th>
                    <th class="text-center" tooltip="Uses all data on attribute if unchecked">Include attr.</th>
                </tr>
                <tr>
                    <td class="text-left">Price/day ($)</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.priceFrom | number:2}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.price}" class="no-form-control text-left" ng-click="edit.priceFrom = ranges.price"
                                  ng-hide="edit.priceFrom">{{ranges.priceFrom | number:2}}</span>
                            <input ng-blur="edit.priceFrom = false" class="form-control" type="number" step="10" min="0"
                                   max="{{ranges.priceTo}}" ng-model="ranges.priceFrom" ng-disabled="!ranges.price"
                                   value="{{ranges.priceFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.price}" class="no-form-control text-left" ng-click="edit.priceTo = ranges.price"
                                  ng-hide="edit.priceTo">{{ranges.priceTo | number:2}}</span>
                            <input ng-blur="edit.priceTo = false" class="form-control" type="number" step="10"
                                   min="{{ranges.priceFrom}}" ng-model="ranges.priceTo" ng-disabled="!ranges.price"
                                   value="{{ranges.priceTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.price"></td>
                </tr>

                <tr>
                    <td class="text-left">User rating (1 - 10)</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.rating}" class="no-form-control text-left" ng-click="edit.ratingFrom = ranges.rating"
                                  ng-hide="edit.ratingFrom">{{ranges.ratingFrom | number:2}}</span>
                            <input ng-blur="edit.ratingFrom = false" class="form-control" type="number" step="0.5" min="0"
                                   max="{{ranges.ratingTo}}" ng-model="ranges.ratingFrom" ng-disabled="!ranges.rating"
                                   value="{{ranges.ratingFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.ratingTo | number:1}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.rating}" class="no-form-control text-left" ng-click="edit.ratingTo = ranges.rating"
                                  ng-hide="edit.ratingTo">{{ranges.ratingTo | number:2}}</span>
                            <input ng-blur="edit.ratingTo = false" class="form-control" type="number" step="0.5"
                                   min="{{ranges.ratingFrom}}" max="5" ng-model="ranges.ratingTo" ng-disabled="!ranges.rating"
                                   value="{{ranges.ratingTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.rating"></td>
                </tr>

                <tr>
                    <td class="text-left">Beach (km)</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.beachFrom | number:2}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.beach}" class="no-form-control text-left" ng-click="edit.beachFrom = ranges.beach"
                                  ng-hide="edit.beachFrom">{{ranges.beachFrom | number:2}}</span>
                            <input ng-blur="edit.beachFrom = false" class="form-control" type="number" step="0.1" min="0"
                                   max="{{ranges.beachTo}}" ng-model="ranges.beachFrom" ng-disabled="!ranges.beach"
                                   value="{{ranges.beachFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.beach}" class="no-form-control text-left" ng-click="edit.beachTo = ranges.beach"
                                  ng-hide="edit.beachTo">{{ranges.beachTo | number:2}}</span>
                            <input ng-blur="edit.beachTo = false" class="form-control" type="number" step="0.1"
                                   min="{{ranges.beachFrom}}" ng-model="ranges.beachTo" ng-disabled="!ranges.beach"
                                   value="{{ranges.beachTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.beach"></td>
                </tr>

                <tr>
                    <td class="text-left">Downtown (km)</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.downtownFrom | number:2}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.downtown}" class="no-form-control text-left" ng-click="edit.downtownFrom = ranges.downtown"
                                  ng-hide="edit.downtownFrom">{{ranges.downtownFrom | number:2}}</span>
                            <input ng-blur="edit.downtownFrom = false" class="form-control" type="number" step="0.1" min="0"
                                   max="{{ranges.downtownTo}}" ng-model="ranges.downtownFrom" ng-disabled="!ranges.downtown"
                                   value="{{ranges.downtownFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.downtown}" class="no-form-control text-left" ng-click="edit.downtownTo = ranges.downtown"
                                  ng-hide="edit.downtownTo">{{ranges.downtownTo | number:2}}</span>
                            <input ng-blur="edit.downtownTo = false" class="form-control" type="number" step="0.1"
                                   min="{{ranges.downtownFrom}}" ng-model="ranges.downtownTo" ng-disabled="!ranges.downtown"
                                   value="{{ranges.downtownTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.downtown"></td>
                </tr>

                <tr>
                    <td class="text-left">ARoS (km)</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.aros}" class="no-form-control text-left" ng-click="edit.arosFrom = ranges.aros"
                                  ng-hide="edit.arosFrom">{{ranges.arosFrom | number:2}}</span>
                            <input ng-blur="edit.arosFrom = false" class="form-control" type="number" step="1" min="0"
                                   max="{{ranges.arosTo}}" ng-model="ranges.arosFrom" ng-disabled="!ranges.aros"
                                   value="{{ranges.arosFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.arosTo | number:2}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.aros}" class="no-form-control text-left" ng-click="edit.arosTo = ranges.aros"
                                  ng-hide="edit.arosTo">{{ranges.arosTo | number:2}}</span>
                            <input ng-blur="edit.arosTo = false" class="form-control" type="number" step="1"
                                   min="{{ranges.arosFrom}}" ng-model="ranges.arosTo" ng-disabled="!ranges.aros"
                                   value="{{ranges.arosTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.aros"></td>
                </tr>

                <tr>
                    <td class="text-left">Room size (m<sup>2</sup>)</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.roomsize}" class="no-form-control text-left" ng-click="edit.roomsizeFrom = ranges.roomsize"
                                  ng-hide="edit.roomsizeFrom">{{ranges.roomsizeFrom | number:2}}</span>
                            <input ng-blur="edit.roomsizeFrom = false" class="form-control" type="number" step="1" min="0"
                                   max="{{ranges.roomsizeTo}}" ng-model="ranges.roomsizeFrom" ng-disabled="!ranges.roomsize"
                                   value="{{ranges.roomsizeFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.roomsizeTo | number:0}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.roomsize}" class="no-form-control text-left" ng-click="edit.roomsizeTo = ranges.roomsize"
                                  ng-hide="edit.roomsizeTo">{{ranges.roomsizeTo | number:2}}</span>
                            <input ng-blur="edit.roomsizeTo = false" class="form-control" type="number" step="1"
                                   min="{{ranges.roomsizeFrom}}" ng-model="ranges.roomsizeTo" ng-disabled="!ranges.roomsize"
                                   value="{{ranges.roomsizeTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.roomsize"></td>
                </tr>

                <tr>
                    <td class="text-left">Wifi (Mbps)</td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.wifi}" class="no-form-control text-left" ng-click="edit.wifiFrom = ranges.wifi"
                                  ng-hide="edit.wifiFrom">{{ranges.wifiFrom | number:2}}</span>
                            <input ng-blur="edit.wifiFrom = false" class="form-control" type="number" step="1" min="0"
                                   max="{{ranges.wifiTo}}" ng-model="ranges.wifiFrom" ng-disabled="!ranges.wifi"
                                   value="{{ranges.wifiFrom | number:2}}">
                        </div>
                    </td>
                    <td class="text-center">-</td>
                    <td class="text-center"><span class="previous-data">{{currentSkyNot.wifiTo | number:0}}</span></td>
                    <td class="text-center">
                        <div class="input-wrapper">
                            <span ng-class="{'disabled-input': !ranges.wifi}" class="no-form-control text-left" ng-click="edit.wifiTo = ranges.wifi"
                                  ng-hide="edit.wifiTo">{{ranges.wifiTo | number:2}}</span>
                            <input ng-blur="edit.wifiTo = false" class="form-control" type="number" step="1"
                                   min="{{ranges.wifiFrom}}" ng-model="ranges.wifiTo" ng-disabled="!ranges.wifi"
                                   value="{{ranges.wifiTo | number:2}}">
                        </div>
                    </td>
                    <td class="text-center"><input type="checkbox" ng-model="ranges.wifi"></td>
                </tr>
            </table>
            <button class="btn btn-primary btn-block" ng-click="query()">Query</button>
        </div>
    </div>
</div>