<div class="row">
    <!--<div class="well well-lg col-sm-4">-->
        <!--Here the change in q_L is shown-->
    <!--</div>-->
    <div class="well well-lg col-sm-12">
        <table class="table">
            <tr>
                <th>Attribute</th>
                <th></th>
                <th class="text-center">From</th>
                <th></th>
                <th></th>
                <th class="text-center">To</th>
                <th class="text-center" tooltip="Uses all data on attribute if unchecked">Include attr.</th>
            </tr>
            <tr>
                <td class="text-left">Price ($)</td>
                <td class="text-center"><span class="previous-data">{{currentSkyNot.priceFrom}}</span></td>
                <td class="text-center"><input class="form-control" type="number" step="10" min="0" max="{{data.priceTo}}" ng-model="data.priceFrom" ng-disabled="!data.price"></td>
                <td class="text-center">-</td>
                <td class="text-center"></td>
                <td class="text-center"><input class="form-control" type="number" step="10" min="{{data.priceFrom}}" ng-model="data.priceTo" ng-disabled="!data.price"></td>
                <td class="text-center"><input type="checkbox" ng-model="data.price"></td>
            </tr>
            <tr>
                <td class="text-left">Dist. beach (km)</td>
                <td class="text-center"><span class="previous-data">{{currentSkyNot.beachFrom}}</span></td>
                <td class="text-center"><input class="form-control" type="number" step="0.1" min="0" max="{{data.beachTo}}" ng-model="data.beachFrom" ng-disabled="!data.beach"></td>
                <td class="text-center">-</td>
                <td class="text-center"></td>
                <td class="text-center"><input class="form-control" type="number" step="0.1" min="{{data.beachFrom}}" ng-model="data.beachTo" ng-disabled="!data.beach"></td>
                <td class="text-center"><input type="checkbox" ng-model="data.beach"></td>
            </tr>
            <tr>
                <td class="text-left">Dist. downtown (km)</td>
                <td class="text-center"><span class="previous-data">{{currentSkyNot.downtownFrom}}</span></td>
                <td class="text-center"><input class="form-control" type="number" step="0.1" min="0" max="{{data.downtownTo}}" ng-model="data.downtownFrom" ng-disabled="!data.downtown"></td>
                <td class="text-center">-</td>
                <td class="text-center"></td>
                <td class="text-center"><input class="form-control" type="number" step="0.1" min="{{data.downtownFrom}}" ng-model="data.downtownTo" ng-disabled="!data.downtown"></td>
                <td class="text-center"><input type="checkbox" ng-model="data.downtown"></td>
            </tr>
            <tr>
                <td class="text-left">Num. pools</td>
                <td class="text-center"></td>
                <td class="text-center"><input class="form-control" type="number" step="1" min="0" max="{{data.poolsTo}}" ng-model="data.poolsFrom" ng-disabled="!data.pools"></td>
                <td class="text-center">-</td>
                <td class="text-center"><span class="previous-data">{{currentSkyNot.poolsTo}}</span></td>
                <td class="text-center"><input class="form-control" type="number" step="1" min="{{data.poolsFrom}}" ng-model="data.poolsTo" ng-disabled="!data.pools"></td>
                <td class="text-center"><input type="checkbox" ng-model="data.pools"></td>
            </tr>
            <tr>
                <td class="text-left">User rating</td>
                <td class="text-center"></td>
                <td class="text-center"><input class="form-control" type="number" step="0.5" min="0" max="{{data.ratingTo}}" ng-model="data.ratingFrom" ng-disabled="!data.rating"></td>
                <td class="text-center">-</td>
                <td class="text-center"><span class="previous-data">{{currentSkyNot.ratingTo}}</span></td>
                <td class="text-center"><input class="form-control" type="number" step="0.5" min="{{data.ratingFrom}}" max="5" ng-model="data.ratingTo" ng-disabled="!data.rating"></td>
                <td class="text-center"><input type="checkbox" ng-model="data.rating"></td>
            </tr>
            <tr>
                <td class="text-left">Stars</td>
                <td class="text-center"></td>
                <td class="text-center"><input class="form-control" type="number" step="1" min="0" max="{{data.starsTo}}" ng-model="data.starsFrom" ng-disabled="!data.stars"></td>
                <td class="text-center">-</td>
                <td class="text-center"><span class="previous-data">{{currentSkyNot.starsTo}}</span></td>
                <td class="text-center"><input class="form-control" type="number" step="1" min="{{data.starsFrom}}" max="5" ng-model="data.starsTo" ng-disabled="!data.stars"></td>
                <td class="text-center"><input type="checkbox" ng-model="data.stars"></td>
            </tr>
        </table>
        <button class="btn btn-primary btn-block" ng-click="query()">Query</button>
    </div>
</div>

<label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>

  <accordion close-others="oneAtATime">
    <accordion-group tooltip="{{inSkyline.length > 0 ?  '' : 'You have to make a query'}}" is-open="status.isFirstOpen" is-disabled="inSkyline.length === 0">
    <accordion-heading ng-click="isopen=!isopen">
        <div>
            Skyline for query <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
        </div>
    </accordion-heading>
      <div class="well well-lg" ng-repeat="hotel in inSkyline">
          <div class="row">
              <div class="col-sm-3">
                  <img class="img-responsive img-thumbnail" src="img/hotel.png" alt="IMG">
              </div>
              <div class="col-sm-9">
                  <div class="center-block">{{hotel.address}}</div>
                  <table class="table">
                      <tr>
                          <th>Price/day:</th>
                          <th>Dist. beach:</th>
                          <th>Dist. downtown</th>
                          <th>Num. pools</th>
                          <th>User rating:</th>
                          <th>Stars:</th>
                      </tr>
                      <tr>
                          <td>{{hotel.price | currency}}</td>
                          <td>{{hotel.beach| number : 1}} km</td>
                          <td>{{hotel.downtown| number : 1}} km</td>
                          <td>{{hotel.pools}}</td>
                          <td>{{hotel.rating | number : 1}}</td>
                          <td>
                              <span class="glyphicon glyphicon-star" ng-repeat="s in stars" ng-if="$index < hotel.stars"></span>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
    </accordion-group>
    <accordion-group id="notSkyline" tooltip="{{notSkyline.length > 0 ?  '' : 'You have to make a query'}}" is-open="status.isSecondOpen" is-disabled="notSkyline.length === 0">
        <accordion-heading ng-click="isopen=!isopen">
            <div>
                Not in skyline of query <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondOpen}"></i>
            </div>
        </accordion-heading>
        <div class="btn-group" dropdown dropdown-append-to-body>
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                Order by: {{ order }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href ng-click="sortBy('price', false)">Price/day</a></li>
                <li><a href ng-click="sortBy('beach', false)">Dist. beach</a></li>
                <li><a href ng-click="sortBy('downtown', false)">Dist. downtown</a></li>
                <li><a href ng-click="sortBy('pools', true)">Num. pools</a></li>
                <li><a href ng-click="sortBy('rating', true)">User rating</a></li>
                <li><a href ng-click="sortBy('stars', true)">Stars</a></li>
                <li><a href ng-click="sortBy('score', false)">Sky-not score</a></li>
            </ul>
        </div>
        <div class="well well-lg pointer" ng-repeat="hotel in filteredNotSkyline" ng-click="skyNot(hotel)">
            <div class="row">
                <div class="col-sm-3">
                    <img class="img-responsive img-thumbnail" src="img/hotel.png" alt="IMG">
                </div>
                <div class="col-sm-9">
                    <div>{{hotel.address}}</div>
                    <table class="table">
                        <tr>
                            <th>Price/day:</th>
                            <th>Dist. beach:</th>
                            <th>Dist. downtown</th>
                            <th>Num. pools</th>
                            <th>User rating:</th>
                            <th>Stars:</th>
                        </tr>
                        <tr>
                            <td>{{hotel.price | currency}}</td>
                            <td>{{hotel.beach| number : 1}} km</td>
                            <td>{{hotel.downtown| number : 1}} km</td>
                            <td>{{hotel.pools}}</td>
                            <td>{{hotel.rating | number : 1}}</td>
                            <td>
                                <span class="glyphicon " ng-class="{'glyphicon-star' : $index < hotel.stars, 'glyphicon-star-empty' : !($index < hotel.stars)}" ng-repeat="s in stars"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <pagination
                total-items="notSkyline.length"
                items-per-page="numPerPage"
                ng-model="currentPage"
                max-size="10"
                class="pagination"
                boundary-links="true"
                ng-change="changePage(currentPage)">
        </pagination>

          </accordion-group>
  </accordion>